<div id="rss-list">
	<div id="rss-toggle">
		<button data-bind="visible: !rssMenuOpen(), click: function() { rssMenuOpen(true); }">
			<i class="material-icons">settings</i>
		</button>
		<button data-bind="visible: rssMenuOpen(), click: function() { rssMenuOpen(false); }">
			<i class="material-icons">close</i>
		</button>
	</div>
	<div id="rss-entries-container" data-bind="visible: rssMenuOpen(), foreach: rssFeeds">
		<a class="rss-feed" href="#" data-bind="click: function() { $parent.callUrl(url); }">
			<span data-bind="text: channel"></span>
		</a>
	</div>
</div>
<br />
<br />
<div data-bind="foreach: rssItems()">
	<div class="rss-item">
		<a class="rss-link" data-bind="attr: { href: link, target: '_blank' }">
			<span class="rss-title" data-bind="text: title"></span>
		</a>
		<br />
		<span class="rss-description" data-bind="text: moment(pubDate).format('MMMM Do YYYY')"></span>
		<p class="rss-description" data-bind="text: description"></p>
	</div>
	<hr class="rss-item-spacer" />
</div>