button {
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.clearBoth {
	clear: both;
}

div.form-line {
	padding: 3px 0 0 0;
}

label {
	font-weight: bold;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 130px;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 1000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.56);
}

	.loading > div {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 1000;
	}

div.app-action-bar {
	z-index: 1;
	position: absolute;
	left: 45px;
	top: 10px;
	opacity: 1;
	padding: 0;
	margin: 0;
	background-color: inherit;
	border-radius: 5px;
}

div.app-action-bar > button {
	margin: 0 5px 0 15px;
}

span.global-error-message {
	border-radius: 5px;
	display: block;
	margin: 20px 2px 2px 2px;
	border: 1px dotted;
	border-color: red;
	color: red;
	text-align: center;
	max-width: 500px;
	height: auto;
	margin: auto auto;
	background-color: inherit;
}
