button {
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.clearBoth {
	clear: both;
}

div.form-line {
	padding: 3px 0 0 0;
}

label {
	font-weight: bold;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 130px;
}
