:root {
	/*color theme "Artsy and Creative" from https://visme.co/blog/website-color-schemes/*/
	--brown: #687864;
	--turquoise: #31708e;
	--blue: #5085a5;
	--light-blue: #8fc1e3;
	--white: #f7f9fb;
}

h3#current-channel-title {
	color: var(--turquoise);
	margin: 0;
	padding: 0 0 10px 0;
	text-align: center;
}

a.rss-item-link, a.rss-item-link :visited, a.rss-item-link :hover, a.rss-item-link :active {
	text-decoration: none;
	color: var(--turquoise);
	font-weight: bold;
}

.rss-item-description {
	margin: 10px 0 0 0;
	color: var(--blue);
}

div.rss-item {
	border-radius: 5px;
	border: 1px solid;
	border-color: var(--brown);
	padding: 5px;
	background-color: var(--white);
}

hr.rss-item-spacer {
	height: 0;
	visibility: hidden;
	margin-bottom: -7px;
}

/* Feeds menu */

div#rss-menu {
	z-index: 1;
	position: absolute;
	left: 45px;
	top: 10px;
	opacity: 1;
	padding: 0;
	margin: 0;
	background-color: var(--light-blue);
	border-radius: 5px;
}

div#rss-menu-toggle {
	background-color: var(--light-blue);
	margin: 0 0 0 10px;
}

div#rss-feeds-menu {
	background-color: var(--light-blue);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

a.rss-feed, a.rss-feed :visited, a.rss-feed :hover, a.rss-feed :active {
	text-decoration: none;
	color: var(--blue);
	font-weight: bold;
}

a.rss-feed {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

button#refresh-feed {
	margin-left: 10px;
	position: absolute;
	top: 0px;
	left: 40px;
	z-index: 1;
}
