:root {
	/*color theme "Artsy and Creative" from https://visme.co/blog/website-color-schemes/*/
	--brown: #687864;
	--turquoise: #31708e;
	--blue: #5085a5;
	--light-blue: #8fc1e3;
	--white: #f7f9fb;
}

h3#current-channel-title {
	color: var(--turquoise);
	margin: 0;
	padding: 0 0 10px 0;
	text-align: center;
}

span.rss-item-title {
}

a.rss-item-link, a.rss-item-link :visited, a.rss-item-link :hover, a.rss-item-link :active {
	text-decoration: none;
	color: var(--turquoise);
	font-weight: bold;
	text-align: left;
	display: block;
}

a.rss-item-link {
	margin: 0 0 0 5px;
}

.rss-item-description, .rss-item-pub-date {
	margin: 5px 0 0 0;
	color: var(--blue);
}

span.rss-item-description, span.rss-item-pub-date {
	display: block;
}

span.rss-item-pub-date {
	text-align: left;
	margin: 0 0 0 5px;
}

p.rss-item-description {
	text-align: justify;
	margin: 5px 5px 0 5px;
}

div#main-rss-container {
	text-align: center;
	position: relative;
}

div.rss-item {
	max-width: 500px;
	display: inline-table;
	border-radius: 5px;
	border: 1px solid;
	border-color: var(--brown);
	padding: 5px;
	background-color: var(--white);
}

hr.rss-item-spacer {
	height: 0;
	visibility: hidden;
	margin-bottom: -7px;
}

/* Feeds menu */

div#rss-feeds-menu {
	z-index: 1;
	position: absolute;
	left: 45px;
	top: 35px;
	opacity: 1;
	margin: 0;
	background-color: var(--light-blue);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

a.rss-feed, a.rss-feed :visited, a.rss-feed :hover, a.rss-feed :active {
	text-decoration: none;
	color: var(--blue);
	font-weight: bold;
}

a.rss-feed {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* thumbnails*/
div.thumbnail-container {
	width: 100%;
	max-width: 500px;
	margin: 5px 0 0 0;
	padding: 0;
}

img.thumbnail {
	max-width: 97.5%;
	height: auto;
	border-radius: 5px;
	display: block;
	margin: auto auto;
}
