:root {
	/*color theme "Minimal Yet Warm" from https://visme.co/blog/website-color-schemes/*/
	--grey: #eae7dc;
	--brown: #d8c3a5;
	--dark-grey: #8d8e8a;
	--light-red: #e98074;
	--mild-red: #e85a4f;
}

div#time-container {
	/*background-color: #999999;*/
	text-align: center;
	width: 100%;
}

canvas#current-analogic-time, canvas#current-bar-time {
	display: block;
	height: 35vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

span#current-digital-time {
	display: block;
	color: var(--mild-red);
	/*https://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters*/
	font-size: 25vw;
}
