:root {
	/*color theme "Minimal Yet Warm" from https://visme.co/blog/website-color-schemes/*/
	--grey: #eae7dc;
	--brown: #d8c3a5;
	--dark-grey: #8d8e8a;
	--light-red: #e98074;
	--mild-red: #e85a4f;
}

div#time-container {
	/*background-color: #999999;*/
	text-align: center;
	width: 100%;
}

span#spacer-top {
	display: block;
	font-size: 100px;
	font-size: 27vh;
	margin-top: -40px; 
	color: var(--grey);
}

span#current-time {
	color: var(--mild-red);
	/*https://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters*/
	font-size: 100px;
	font-size: 33.3vh;
}
