<div id="rss-menu">
	<div class="app-action-bar">
		<button data-bind="visible: !rssFeedsMenuOpen(), click: function() { rssFeedsMenuOpen(true); }">
			<i class="material-icons">rss_feed</i>
		</button>
		<button data-bind="visible: rssFeedsMenuOpen(), click: function() { rssFeedsMenuOpen(false); }">
			<i class="material-icons">close</i>
		</button>
		<button id="refresh-feed" data-bind="click: function() { getFeed(currentUrl); }">
			<i class="material-icons custom-color">refresh</i>
		</button>
	</div>
	<div id="rss-feeds-menu" data-bind="visible: rssFeedsMenuOpen(), foreach: rssFeedsMenuEntries">
		<a class="rss-feed" href="#" data-bind="click: function() { $parent.getFeed(url); }">
			<span data-bind="text: channel"></span>
		</a>
	</div>
</div>

<h3 id="current-channel-title" data-bind="text: currentChannel"></h3>

<div data-bind="foreach: feedItems">
	<div class="rss-item">
		<a class="rss-item-link" data-bind="attr: { href: link, target: '_blank' }">
			<span class="rss-item-title" data-bind="text: title"></span>
		</a>
		<br />
		<span class="rss-item-description" data-bind="text: moment(pubDate).format('YYYY-MM-DD')"></span>
		<p class="rss-item-description" data-bind="text: description"></p>
	</div>
	<hr class="rss-item-spacer" />
</div>